@charset "utf-8";

body {
  font-family: Lato;
  background-color: #f2f2f2;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.font-raleway {
  font-family: Raleway;
}

.a-inline {
  display: inline-block;
}

/* ========================================
    header
========================================= */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 15px 0; 
}

.header-inner {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.bolt-icon {
  color: #4e4e4e;
}

.ham-icon {
  display: none;
}

.btn {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
}
 /*       hover         */
.btn:hover {
  transition: all 0.3s;
  color: #333;
}
 /*       hover         */

/* ========================================
    main
========================================= */
.content-ma {
  padding-top: 70px;
}

.theme {
  padding: 250px 0;
}

.theme-inner {
  text-align: center;
}

.theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.sub-title {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* ========================================
   section
========================================= */
.content-se {
  background-color: #74cfae;
  width: 100%;
  padding-top: 50px;
}

.section-inner {
  display: flex;
  text-align: center;
}

.what-wrap {
  color: #fff;
  margin-left: 230px;
  line-height: 30px;
}

.what-title {
  font-size: 24px;
}

.is-text {
  font-size: 20px;
  margin-top: 35px;
}

img {
  vertical-align: bottom;
}

/* ========================================
   article
========================================= */
.content-art {
  padding: 60px 0 70px 0;
}

.our-title {
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
}

.img-wrap {
  margin-top: 40px; 
}

.li-img {
  display: block;
  float: left;
  margin-left: 100px;
  margin-top: 80px;
  opacity: 0.7;
  z-index: 1;
  transition: all 0.2s;
}

.li-img:nth-child(3n+1) {
  margin-left: 0;
}

.li-img:nth-child(-n+3) {
  margin-top: 0;
}

 /*       hover         */
.is-img:hover {
  transition: all 0.3s;
  opacity: 1;
}
 /*       hover         */

.our-wrap {
  display: flex;
  width: 900px;
  margin-top: 90px;
}

.our-text {
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
  padding-left: 150px;
}

.email-me {
  margin-left: 90px;
}

.mail-btn {
  padding: 14px 20px;
}

/* ========================================
   section-fig
========================================= */
.fig {
  background-color: #4e4e4e;
  width: 100%;
  color: #fff;
  padding: 70px 0 100px 0;
}

.fig-title {
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
}

.list-img {
  margin-top: 50px;
}

.fig-box {
  display: inline-block;
  text-align: center;
  margin-right: 200px;
}

.fig-box:last-child {
  margin-right: 0;
}

.text {
  font-size: 16px;
  margin-top: 20px;
}

/* ========================================
   nav
========================================= */
.global-nav {
  padding: 200px 0;
}

.nav-icon {
  text-align: center;
  width: 740px;
}

.li-icon {
  float: left;
  width: 185px;
  text-align: center;
  transition: all 0.2s;
}
 /*       hover         */
 .a-icon:hover {
  transition: all 0.3s;
  background-color: #fff;
}
 /*       hover         */

 .a-icon {
  color: #74cfae;
  padding: 30px 0;
  width: 100%;
 }


/* ========================================
   footer
========================================= */
.footer {
  padding: 20px 0 25px 0;
  background-color: #74cfae;
  color: #fff;
}

.foot-text {
  text-align: right;
}



/* ========================================
    @media pc.tab.sp
========================================= */

@media screen and (min-width: 1200px) {  
  
} /*    media_pc    */

    /*    media_tab    */
@media screen and (max-width: 1199px){
  .inner {
    box-sizing: border-box;
    width: 97%;
    margin: 0 auto;
  }

  .section-inner {
    display: block;
  }
  
  .content-se {
    padding-bottom: 20px;
  }


  .what-wrap {
    margin: 0;
  }

  .what-wrap {
    margin-top: 20px;
  }

  .li-img{
    width: 300px;
    height: 300px;
    float: none;
    margin-top: 0;
    margin: 0 auto;
  }

  .li-img:nth-child(3n+1) {
    margin: 0 auto;
  }

  .li-img:nth-child(3n) {
    margin-bottom: 80px;
  }

  .li-img:last-child {
    margin-bottom: 0;
  }

  .our-wrap {
    width: auto;
    margin-top: 80px;
    display: block;
  }

  .our-text {
    padding-left: 0;
  } 

  .email-me{
    text-align: center;
    margin-top: 40px;
    margin-left: 0;
  }

  .fig-box {
    margin-right: 0;
    display: block;
    margin-top: 88px;
  }

  .fig-box:first-child {
    margin-top: 0;
  }

  .li-icon {
    width: 25%;
  }

  .a-icon {
    font-size: 12px;
  }

  .footer-inner {
    width: 83%;
  }
 
} 
    /*    media_sp    */
@media screen and (max-width: 767px) {
  .btn-wrap {
    display: none;
  }

  .ham-icon {
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 30px;
    height: 18px;
    position: relative;
  }


  .ham-line, .ham-line::before, .ham-line::after {
    position: absolute;
    box-sizing: border-box;
    border-bottom: 3px solid #ddd;
    width: 20px;
    top: 23%;
    left: 30%;
    display: block;
    content: "";
  }

  .ham-line::before {
    bottom: -11px;
    left: 0;
  }

  .ham-line::after {
    bottom: -19px;
    left: 0;
  }

  .theme {
    padding: 160px 0 130px 0;
  }

  .theme-title {
    font-size: 80px;
  }

  .li-icon {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  .global-nav {
    padding: 50px 0;
  }

} 



